## Pandas for ML

###### What is Pandas?

1. It is a Python library.

2. Used to analyze data.

Pandas is a Python library used for **working with data sets**.

It has functions for **analyzing, cleaning, exploring, and manipulating data**.

The name "Pandas" has a reference to both **"Panel Data"**, and "Python Data Analysis" and was created by **Wes McKinney in 2008**.

###### Why?

    Pandas allows us to analyze big data and make conclusions based on statistical theories.

    Pandas can clean messy data sets, and make them readable and relevant.

    Relevant data is very important in data science.
    
    
Pandas gives you answers about the data. Like:

    Is there a correlation between two or more columns?
    What is average value?
    Max value?
    Min value?

Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

###### Install pandas

In [2]:
# ! pip install pandas

In [3]:
# import
import pandas as pd
import numpy as np

In [4]:
print(pd.__version__)

2.0.1

In [5]:
print(np.__version__)

1.24.2

 Two data structures in pandas :
            
            1. Series
            2. Dataframe

### Series
###### what is series?

    Pandas series is like a column in a table.
    It is one dimentional array holding data of any type.

In [8]:
s=pd.Series([1,2,3,4,5])
s
# default numbering is used for naming series location(index_number)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
print(type(s))

<class 'pandas.core.series.Series'>

###### access element from series

In [10]:
s[0]

1

In [11]:
s[3]

4

In [12]:
s[4]

5

###### You can give name to series index

In [15]:
l=[10,20,30,40,50]
new_s=pd.Series(l,index=['A','B','C','D','E'])
new_s

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [18]:
list1=[1,2,3,4,5]
ns=pd.Series(l,index=['aja','aka','shd','rtd','rhx'])
ns

aja    10
aka    20
shd    30
rtd    40
rhx    50
dtype: int64

###### Access Items using labels

In [19]:
new_s

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [20]:
new_s['A']

10

In [21]:
new_s['B']

20

###### Key/Value Objects as Series

In [22]:
emp={'Digvijay':10,'Umesh':11,'Rahul':16}
emp_s=pd.Series(emp)
emp_s

Digvijay    10
Umesh       11
Rahul       16
dtype: int64

In [23]:
calories = {
    'day1': 500,
    'day2': 380,
    'day3': 480,
    'day4': 500
}

cal_s=pd.Series(calories)
cal_s

day1    500
day2    380
day3    480
day4    500
dtype: int64

In [24]:
cal_s['day3']

480

In [36]:
cal_s_new=pd.Series(cal_s, index=['day1','day2'])
cal_s_new

day1    500
day2    380
dtype: int64

In [26]:
cal_s_new['day2']

380

In [29]:
cal_s_new['day1']=2800 # modified series

In [30]:
cal_s_new

day1    2800
day2     380
dtype: int64

###### Home work

In [32]:
lst=[1, 1.2, 'abhi', 2, 2.2, 'shourya',3, 3.3, 'atharv', 4, 4.4, 'amey']
lst_s=pd.Series(lst)
lst_s

0           1
1         1.2
2        abhi
3           2
4         2.2
5     shourya
6           3
7         3.3
8      atharv
9           4
10        4.4
11       amey
dtype: object

In [38]:
int_s=pd.Series(lst_s, index=[0,3,6,9])
int_s

0    1
3    2
6    3
9    4
dtype: object

In [43]:
int_s[0], int_s[3], int_s[6], int_s[9]

(1, 2, 3, 4)

In [39]:
flt_s=pd.Series(lst_s,index=[1,4,7,10])
flt_s

1     1.2
4     2.2
7     3.3
10    4.4
dtype: object

In [44]:
flt_s[1], flt_s[4], flt_s[7], flt_s[10]

(1.2, 2.2, 3.3, 4.4)

In [40]:
str_s=pd.Series(lst_s, index=[2,5,8,11])
str_s

2        abhi
5     shourya
8      atharv
11       amey
dtype: object

In [45]:
str_s[2], str_s[5], str_s[8], str_s[11]

('abhi', 'shourya', 'atharv', 'amey')

### DataFrame

DataFrame : **Data sets in Pandas are usually multi-dimensional tables, called DataFrames**.

Series is like a column, a **DataFrame is the whole table.**

A Pandas DataFrame is a **2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.**