In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [4]:
s[0]

1

In [5]:
s[1]

2

In [7]:
l=[1,2,3,4,5]
ns=pd.Series(l,index=['A','B','C','D','E'])
ns

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [9]:
l=['Apple','Mango','Pineapple','Chiku']
fruit=pd.Series(l,index=['Pink','Yellow','Gray','Brown'])
fruit

Pink          Apple
Yellow        Mango
Gray      Pineapple
Brown         Chiku
dtype: object

In [10]:
fruit['Yellow']

'Mango'

In [13]:
fruit['Brown']

'Chiku'

In [39]:
fruit=pd.Series(l,copy=False)
fruit.iloc[0]='Coconut'
fruit

0      Coconut
1        Mango
2    Pineapple
3        Chiku
dtype: object

In [17]:
fr=pd.Series(l,index=['Pink','Yellow','Green','Brown'])
fr

Pink          Apple
Yellow        Mango
Green     Pineapple
Brown         Chiku
dtype: object

In [21]:
fr['Green']='GreenApple'
fr

0           Coconut
1             Mango
2         Pineapple
3             Chiku
Green    GreenApple
dtype: object

In [22]:
fruit

Pink          Apple
Yellow        Mango
Gray      Pineapple
Brown         Chiku
dtype: object

In [23]:
fruit['Gray']='GreenApple'

In [24]:
fruit

Pink           Apple
Yellow         Mango
Gray      GreenApple
Brown          Chiku
dtype: object

In [25]:
emp={'Digvijay':10, 'Pravin':11, 'Umesh':12 }
emp_s=pd.Series(emp)
emp_s

Digvijay    10
Pravin      11
Umesh       12
dtype: int64

In [27]:
emp=(('Digvijay',10), ('Pravin',11), ('Umesh',12) )
emp_s=pd.Series(emp)
emp_s

0    (Digvijay, 10)
1      (Pravin, 11)
2       (Umesh, 12)
dtype: object

In [30]:
sub=(('A',10,'Pune','MH'),('B',20,'Sangli','MH'),('C',30,'Kolhapur','MH'))
sub_s=pd.Series(sub, index=['stud1 :','stud2 :',3])
sub_s

stud1 :        (A, 10, Pune, MH)
stud2 :      (B, 20, Sangli, MH)
3          (C, 30, Kolhapur, MH)
dtype: object

In [36]:
arr=np.arange(1,100,10)
arr_s=pd.Series(arr,index=[np.arange(1,200,20)])
arr_s

1       1
21     11
41     21
61     31
81     41
101    51
121    61
141    71
161    81
181    91
dtype: int32

In [40]:
s=pd.Series()
s,type(s)

(Series([], dtype: object), pandas.core.series.Series)

In [41]:
df=pd.DataFrame()
df,type(df)

(Empty DataFrame
 Columns: []
 Index: [],
 pandas.core.frame.DataFrame)

In [42]:
l=['fruits','eggs','meat','milk','greenleafy']
s=pd.Series(l)
s

0        fruits
1          eggs
2          meat
3          milk
4    greenleafy
dtype: object

In [43]:
rindex=pd.Series(l,index=['A','B','C','D','E'])
rindex

A        fruits
B          eggs
C          meat
D          milk
E    greenleafy
dtype: object

In [44]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [46]:
df,type(df)

(Empty DataFrame
 Columns: []
 Index: [],
 pandas.core.frame.DataFrame)

In [47]:
student={
    'Name':['A','B','C'],
    'Age' :[30, 31, 32],
    'Sex' :['M', 'F', 'M']
    }
df=pd.DataFrame(student,index=['Rahul','Priya','Sandip'])
df

       Name  Age Sex
Rahul     A   30   M
Priya     B   31   F
Sandip    C   32   M

In [50]:
df.loc[['Rahul','Sandip']]

       Name  Age Sex
Rahul     A   30   M
Sandip    C   32   M

In [52]:
print(df.to_string())

       Name  Age Sex
Rahul     A   30   M
Priya     B   31   F
Sandip    C   32   M

In [53]:
print(pd.options.display.max_rows)

60

In [54]:
print(pd.options.display.min_rows)

10

In [55]:
pd.options.display.max_categories

8

In [56]:
df=pd.read_csv('air_quality_long.csv')
df

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³
...,...,...,...,...,...,...,...
5267,London,GB,2019-04-09 06:00:00+00:00,London Westminster,no2,41.0,µg/m³
5268,London,GB,2019-04-09 05:00:00+00:00,London Westminster,no2,41.0,µg/m³
5269,London,GB,2019-04-09 04:00:00+00:00,London Westminster,no2,41.0,µg/m³
5270,London,GB,2019-04-09 03:00:00+00:00,London Westminster,no2,67.0,µg/m³
5271,London,GB,2019-04-09 02:00:00+00:00,London Westminster,no2,67.0,µg/m³

In [57]:
df.head(10)

,city,country,date.utc,location,parameter,value,unit
0,Antwerpen,BE,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,µg/m³
1,Antwerpen,BE,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,µg/m³
2,Antwerpen,BE,2019-06-17 07:00:00+00:00,BETR801,pm25,18.5,µg/m³
3,Antwerpen,BE,2019-06-17 06:00:00+00:00,BETR801,pm25,16.0,µg/m³
4,Antwerpen,BE,2019-06-17 05:00:00+00:00,BETR801,pm25,7.5,µg/m³
5,Antwerpen,BE,2019-06-17 04:00:00+00:00,BETR801,pm25,7.5,µg/m³
6,Antwerpen,BE,2019-06-17 03:00:00+00:00,BETR801,pm25,7.0,µg/m³
7,Antwerpen,BE,2019-06-17 02:00:00+00:00,BETR801,pm25,7.0,µg/m³
8,Antwerpen,BE,2019-06-17 01:00:00+00:00,BETR801,pm25,8.0,µg/m³
9,Antwerpen,BE,2019-06-16 01:00:00+00:00,BETR801,pm25,15.0,µg/m³

In [60]:
df.shape

(5272, 7)

In [61]:
df.tail(30)

,city,country,date.utc,location,parameter,value,unit
5242,London,GB,2019-04-10 07:00:00+00:00,London Westminster,no2,45.0,µg/m³
5243,London,GB,2019-04-10 06:00:00+00:00,London Westminster,no2,39.0,µg/m³
5244,London,GB,2019-04-10 05:00:00+00:00,London Westminster,no2,24.0,µg/m³
5245,London,GB,2019-04-10 04:00:00+00:00,London Westminster,no2,24.0,µg/m³
5246,London,GB,2019-04-10 03:00:00+00:00,London Westminster,no2,27.0,µg/m³
5247,London,GB,2019-04-10 02:00:00+00:00,London Westminster,no2,27.0,µg/m³
5248,London,GB,2019-04-10 01:00:00+00:00,London Westminster,no2,25.0,µg/m³
5249,London,GB,2019-04-10 00:00:00+00:00,London Westminster,no2,25.0,µg/m³
5250,London,GB,2019-04-09 23:00:00+00:00,London Westminster,no2,38.0,µg/m³
5251,London,GB,2019-04-09 22:00:00+00:00,London Westminster,no2,38.0,µg/m³
5252,London,GB,2019-04-09 21:00:00+00:00,London Westminster,no2,39.0,µg/m³
5253,London,GB,2019-04-09 20:00:00+00:00,London Westminster,no2,39.0,µg/m³
5254,London,GB,2019-04-09 19:00:00+00:00,London Westminster,no2,41.0,µg/m³
5255,London,GB,2019-04-09 18:00:00+00:00,London Westminster,no2,42.0,µg/m³
5256,London,GB,2019-04-09 17:00:00+00:00,London Westminster,no2,44.0,µg/m³
5257,London,GB,2019-04-09 16:00:00+00:00,London Westminster,no2,52.0,µg/m³
5258,London,GB,2019-04-09 15:00:00+00:00,London Westminster,no2,59.0,µg/m³
5259,London,GB,2019-04-09 14:00:00+00:00,London Westminster,no2,58.0,µg/m³
5260,London,GB,2019-04-09 13:00:00+00:00,London Westminster,no2,56.0,µg/m³
5261,London,GB,2019-04-09 12:00:00+00:00,London Westminster,no2,55.0,µg/m³
5262,London,GB,2019-04-09 11:00:00+00:00,London Westminster,no2,50.0,µg/m³
5263,London,GB,2019-04-09 10:00:00+00:00,London Westminster,no2,50.0,µg/m³
5264,London,GB,2019-04-09 09:00:00+00:00,London Westminster,no2,49.0,µg/m³
5265,London,GB,2019-04-09 08:00:00+00:00,London Westminster,no2,47.0,µg/m³
5266,London,GB,2019-04-09 07:00:00+00:00,London Westminster,no2,45.0,µg/m³
5267,London,GB,2019-04-09 06:00:00+00:00,London Westminster,no2,41.0,µg/m³
5268,London,GB,2019-04-09 05:00:00+00:00,London Westminster,no2,41.0,µg/m³
5269,London,GB,2019-04-09 04:00:00+00:00,London Westminster,no2,41.0,µg/m³
5270,London,GB,2019-04-09 03:00:00+00:00,London Westminster,no2,67.0,µg/m³
5271,London,GB,2019-04-09 02:00:00+00:00,London Westminster,no2,67.0,µg/m³

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5272 entries, 0 to 5271
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5272 non-null   object
 1   country    5272 non-null   object
 2   date.utc   5272 non-null   object
 3   location   5272 non-null   object
 4   parameter  5272 non-null   object
 5   value      5272 non-null   float64
 6   unit       5272 non-null   object
dtypes: float64(1), object(6)
memory usage: 288.4+ KB

In [63]:
df.describe()

             value
count  5272.000000
mean     24.222743
std      15.592773
min       0.000000
25%      11.000000
50%      22.000000
75%      33.000000
max     117.200000

In [69]:
# df.corr()

In [70]:
df.isnull()

       city  country  date.utc  location  parameter  value   unit
0     False    False     False     False      False  False  False
1     False    False     False     False      False  False  False
2     False    False     False     False      False  False  False
3     False    False     False     False      False  False  False
4     False    False     False     False      False  False  False
...     ...      ...       ...       ...        ...    ...    ...
5267  False    False     False     False      False  False  False
5268  False    False     False     False      False  False  False
5269  False    False     False     False      False  False  False
5270  False    False     False     False      False  False  False
5271  False    False     False     False      False  False  False

[5272 rows x 7 columns]

In [71]:
df.isnull().sum()

city         0
country      0
date.utc     0
location     0
parameter    0
value        0
unit         0
dtype: int64

In [72]:
len(df)

5272